/* Reset ------------------  */

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

button{
    border: none;
    background: none;
    color: inherit;
    font: inherit;
}

/* Keyframes --------------  */

@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.8);
    }

    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(+30px) scale(0.8);
    }

    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}
@keyframes fade-left {
    0%{
        opacity: 0;
        transform: translateX(+30px) scale(0.8);
    }

    100%{
        opacity: 1;
        transform: translateX(0) scale(1);
    }

}




/* ------------ Base Styles  */ 

body{
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: white;
    position: relative;
    overflow-x: hidden;

}

body::-webkit-scrollbar{
    display: none;
}

.color{
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(255,230,0,0.21), black);
    position: absolute;
    top: -400px;
    left: 15%;
    z-index: -1;

}


/* ------------------base styles  */

html{
    --default-opacity: 0.2;
    --hover-opacity: 0.1;
}

/* ------------header  */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 40px;
    position: fixed;
    width: 100%;
}

.logo{
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    animation: fade-down 0.5s 0.4s backwards;
}

.btn{
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    color: black;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: all 0.4s;
    animation: fade-down 0.5s 0.4s backwards;
}

.btn:hover{
    transform: scale(1.15);
}

.btn--contact{
    transform: fade-down 0.5s 0.4s backwards;
}

.btn--color{

}

.btn--download{
    padding: 16px 32px;
    font-size: 16px;
    position:fixed;
    bottom: 30px;
    left: calc(50% - 96px);
    z-index: 110;
    box-shadow: 0 6px 23px rgba(0, 0, 0, .45);
    animation: fade-up 0.5s 0.4s backwards;
}

/* -----------------Main  */ 
.main{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 90px;
    padding: 0 25px;
}

.intro{
    padding-top: 125px;
    animation: fade-up 0.5s ;

}

.first-heading{
    font-size: 48px;
    font-weight: 600;
    opacity: 0.9;
}

.text{
    font-size: 20px;
    font-weight: 300;
    margin-top: 11px;
}
.name{
    color: rgb(255, 255, 4);
}

/* ------------------work  */ 

.work{
    margin-top: 60px;
    animation: fade-up 0.6s 0.2s backwards;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.second-heading{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.filters{
    display: flex;
    column-gap: 40px;
}

.filter-item{

}

.filter-btn{
    opacity: 0.6;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.4s;
}

.filter-btn:hover{
    opacity: 1;
}

.filter-btn--active{
    opacity: 1;
}

/* --------------grid  */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 330px 190px 325px;
    gap: 15px;
    position: relative;
}

.project{
    border-radius: 5px;
    overflow: hidden;
    position:relative;
    transition: all 0.4s;
}

.project:nth-child(1){
    grid-column: 1 / 2 ;
    grid-row: 1 / 3;
}

.project:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.project:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.project:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

.project:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.project:nth-child(6){
    grid-column: 3 / 4;
    grid-row: 3 / 4 ;
}

.project::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: var(--default-opacity);
    transition: all 0.4s;
}

.project:hover::before{
    opacity:0.1;
}

.grid-img{
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    transition: all 0.4s;

    
}

.project:hover .grid-img{
    filter: blur(1px);
    transform: scale(1);
}

.project-info{
    opacity: 0;
    position: absolute;
    z-index: 100;
    bottom: 0;
    text-align: left;
    padding: 24px;
    transform:translateY(10px);

}

.project:hover .project-info{
    opacity: 1;
    transform: translate(0);
    transition: all 0.4s;
}

.fade{
    height: 1000px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgb(0, 0, 0) , transparent);
    pointer-events: none;
    transition: all 0.6s;
}

.third-heading{
    font-size: 16px;
}

.description{
    font-size: 14px;
    margin: 3px 0 12px;
    opacity: 0.8;
}

.technologies{
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    column-gap: 10px;
    opacity: 0.8px;

}


/* -----------------------------links  */ 

.links{
    position: fixed;
    right: 60px;
    top: 70%;
    /* transform: translateY(40%); */

    animation: fade-left 0.5s 0.7s backwards

}

.link-item{
    transition: all 0.3s;
}

.link-item:not(:last-child){
    margin-bottom: 20px;
}

.link-item:hover{
    transform: scale(1.3);
}

.link{

}

.link-img{
    width: 20px;
    height: 20px;
}