*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(51, 54, 54);
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background-image-finan.jpg); */
    background-color: rgb(33, 35, 37);
    background-size: cover;
    background-position: center;

}


.container {
    padding: 10px 10%;
} 

nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;       

}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    font-size: 60px;

}

/* --------------------------------- About ----------------------- */ 

#about{
    padding: 80px;
    color: rgb(233, 210, 210);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(170, 48, 48);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li {
    list-style-type: none;
    margin: 10px 0;
    font-size: 15px;
}
.tab-contents ul li span{
    color: rgb(235, 97, 115);
    font-size: 13px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
